@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@300&display=swap');
body{
    background-color: #E4D8B4;
}

.home{
    width: 50%;


}

.homecol h{
    font-family: "Inter", 'sans-serif';
    font-size: 30px;
    font-weight: 700;
}

#page-title{
    box-sizing: border-box;
    position: relative;
    top: 5vh;
    /* width: 100%;
    height: 350px;
    padding: 10px; */
    font-family: "Inter", 'sans-serif';
    text-align: left;
    word-spacing: 5px;
    font-size: 18px;
    font-weight: 700;
     
}
nav {
    display: block;
    flex-direction: column;
    position: relative;
    background-color: #83B799;
    float: left;
    font-family: "Inter", 'sans-serif';
    border-radius: 5px #ffffff ;
    padding: 10px;
    margin-right:80px;
    border: 10px #C2B28F;
    height: 1020px;
}

nav li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .sidebar{
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 50vh;
}

.sidebar li{
    font-size: 20px;
} */

li{
    list-style: none;
    font-family: "Poppins", 'Inter';
}

/* #pending{
    margin: auto;
    display: flex;
    align-content: center;
    max-width: 45%;
    height: 4vh;
} */

form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6vh;
    max-width: 20%;
    justify-content: space-around;
}

#homecol{
    position: relative;
    top: 10px;
    font-family: "Inter", 'sans-serif';
    text-align: left;
    font-size: 18px;


}

#dailytotal{
    width: 20px;
}
#submitbutton{
    font-family: "Poppins", 'sans-serif';
    font-weight: 700;
    font-size: 12pt;
    background-color: #ffffff;
    color:#272324;
    position: relative;
    top: 5vh;
    left: 6vw;
}

#submitbutton:hover{
    cursor:pointer; 
    background-color: #C2B28F;
    transition: 0.2s ease-in-out;
     
 }

#pending >first-child{
    font-size: 24px;
    color: #ffffff;
}

#dailytotal{
    box-sizing: border-box;
    position: relative;
    top: 50px;
    width: 300px;
    height: 3vh;
    /* margin: auto; */
    padding: 10px;
}

.accounts{
    display:grid;
    grid-template-columns: 50px;
    grid-template-rows: 20px 20px 20px;
    justify-content: start;
    position: relative;
    top: 100px;
}

.homecol h{
    font-family: "Inter", 'sans-serif';
    font-size: 24px;

}


/* .summaries{
    display: flex;
} */

.summaries h{
    display: inline-block;
    text-align: left;
    width: 30vw;
    padding: 10px;
}
table, td{
    background-color: #C2B28F;
    border: 1px #272324;
    border-collapse: collapse;
    border-radius: 5px;
    width: 100%;
    font-family: "Poppins", 'sans-serif';
    color:rgb(39, 35, 36, 0.5)
}

th{
    font-size: 24px;
    color: #272324;
    
}

th, td{
    padding: 20px;
}