@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@300&display=swap');
body{
    background-color: #E4D8B4;
}

.home{
    width: 50%;


}

.homecol h{
    font-family: "Inter", 'sans-serif';
    font-size: 30px;
    font-weight: 700;
}

#page-title{
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    font-family: "Inter", 'sans-serif';
    font-size: 18px;
    font-weight: 700;
     
}
nav {
    display: block;
    flex-direction: column;
    position: relative;
    background-color: #83B799;
    float: left;
    font-family: "Inter", 'sans-serif';
    border-radius: 5px #ffffff ;
    padding: 10px;
    margin-right:80px;
    border: 10px #C2B28F;
    height: 1020px;
}

nav li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .sidebar{
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 50vh;
}

.sidebar li{
    font-size: 20px;
} */

li{
    list-style: none;
    font-family: "Poppins", 'Inter';
}

#pending{
    margin: auto;
    display: flex;
    align-content: center;
    max-width: 45%;
    height: 4vh;
}

#pending >first-child{
    font-size: 24px;
    color: #ffffff;
}

#dailytotal{
    box-sizing: border-box;
    position: relative;
    top: 50px;
    width: 300px;
    height: 3vh;
    /* margin: auto; */
    padding: 10px;
}
#bookicon{
    margin: auto;
    top: 20px;
}

.accounts{
    display:grid;
    grid-template-columns: 50px;
    grid-template-rows: 20px 20px 20px;
    justify-content: start;
    position: relative;
    top: 100px;
}

.homecol h{
    font-family: "Inter", 'sans-serif';
    font-size: 24px;

}

#submitbutton{
    background-color: #ffffff;
    
}

#submitbutton:hover{
   cursor:pointer; 
   background-color: #C2B28F;
   transition: 0.2s ease-in-out;
    
}

/* .summaries{
    display: flex;
} */
#months{
    display: flex;
    list-style: none;
}

#months {
    width: 50%;
    height: 200px;

}


table, th, td {
    border: 1px #272324;
    border-collapse: collapse;
}

th, td{
    padding: 20px;
}